*{
    padding: 0;
    margin: 0;
}
.main{
    //background-color: aqua;
    width: 44.5%;
    margin-left: 23.5%;
    border: 0.5px solid rgba($color: #DCDCDC, $alpha: 0.4) 
}

@media (max-width: 1200px) {
    .main {
      width: 56%;
      margin-left: 12%;
    }
  }